@import "tailwindcss";

body {
  font-family: Nunito, Helvetica, sans-serif;
}

@theme{
    --breakpoint-sm: 350px;
    --breakpoint-md: 768px;
    --breakpoint-bp-840: 840px;
    --breakpoint-lg: 1280px;
    --breakpoint-xl: 1920px;
    --breakpoint-2xl: 2560px;
    --breakpoint-3xl: 3440px;
}